<h1 class="my-4 text-center">About</h1>

<div class="container text-center text-white mt-4">
  <p>
    Traveldations is a project featuring sample CRUD operations using Ruby on
    Rails and Bootstrap framework. <%= link_to 'Add', new_destination_path,
    class: "btn btn-outline-light btn-sm" %> your travel recommendation today!
  </p>
</div>

<div class="text-center">
  <%= link_to 'Back to the homepage', root_path, class: "btn btn-outline-light
  btn-md" %>
</div>
