<div class="container">
  <div class="text-center text-white">
  <h1 class="cover-heading">Traveldations</h1>
  <h4 class="lead">Small world, big ideas</h4>
  <p class="lead">
    <%= link_to 'Take me somewhere', destinations_path, class: "btn btn-outline-light btn-lg" %>
    <%= link_to 'About', about_path, class: "btn btn-outline-light btn-lg"  %>
  </p>
</div>
</div>

