<footer class="text-white text-center fixed-bottom">
    <small
      >Copyright &copy; <%= link_to "Alex Barron",
      "https://lex-aeterna.github.io/", class: "text-white text-decoration-none"
      %></small
    >
    <br>
    <small class="fw-lighter">Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</small>
</footer>